extends ../layout-marketing

block content
	main.content.content-alt#main-content
		.container
			.row
				.col-md-6.col-md-offset-3.col-lg-4.col-lg-offset-4
					.card
						.page-header
							h1 #{translate("log_in")}
						button.btn-primary.btn(onClick="location='https://passport.ustc.edu.cn/login?service=https%3A%2F%2Flatex.ustc.edu.cn%2Fcaslogin'" style="margin-bottom: 30px;") 中国科大统一身份认证
						form(data-ol-async-form, name="loginForm", action='/login', method="POST")
							input(name='_csrf', type='hidden', value=csrfToken)
							+formMessages()
							.form-group
								input.form-control(
									type='email',
									name='email',
									required,
									placeholder='email@example.com',
									autofocus="true"
								)
							.form-group
								input.form-control(
									type='password',
									name='password',
									required,
									placeholder='********',
								)
							.actions
								button.btn-primary.btn(
									type='submit',
									data-ol-disabled-inflight
								)
									span(data-ol-inflight="idle") #{translate("login")}
									span(hidden data-ol-inflight="pending") #{translate("logging_in")}…
								a.pull-right(href='/user/password/reset') #{translate("forgot_your_password")}?
